In [1]:
import pandas as pd

def binningdt(col, cut_points, labels=None):
    minval = col.min()
    maxval = col.max()
    brack_point = [minval] + cut_points + [maxval]
    
    colbin = pd.cut(col, bins=brack_point, labels=labels, include_lowest=False)
    return colbin

# Your provided DataFrame
data = {
    'city': ['Mumbai', 'Newyork', 'Mumbai', 'Newyork', 'Tokeyo', 'Tokeyo', 'Singapore', 'Newyork', 'Mumbai', 'Singapore', 'Tokeyo', 'Singapore', 'Newyork', 'Mumbai', 'Singapore'],
    'age': [27, 27, 30, 14, 48, 17, 33, 40, 38, 25, 70, 33, 40, 31, 37],
    'salary': [51000.0, 48000.0, 52000.0, 60000.0, None, 51000.0, 60000.0, 70000.0, None, 30000.0, 50000.0, 49000.0, 72000.0, 79000.0, 85000.0],
    'e for be': ['yes', 'yes', 'no', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no', 'yes', 'yes', 'no'],
    'citynum': [4, 1, 4, 1, 2, 2, 3, 1, 4, 3, 2, 3, 1, 4, 3],
    'exp_age': [None] * 15  # Initialize with None
}

df = pd.DataFrame(data)

cut_points = [27, 35]
labels = ['young', 'senior', 'super_senior']

# Apply the binningdt function to the age column and store the result in 'exp_age'
df['exp_age'] = binningdt(df['age'], cut_points, labels)

print(df)

         city  age   salary e for be  citynum       exp_age
0      Mumbai   27  51000.0      yes        4         young
1     Newyork   27  48000.0      yes        1         young
2      Mumbai   30  52000.0       no        4        senior
3     Newyork   14  60000.0       no        1           NaN
4      Tokeyo   48      NaN      yes        2  super_senior
5      Tokeyo   17  51000.0       no        2         young
6   Singapore   33  60000.0       no        3        senior
7     Newyork   40  70000.0      yes        1  super_senior
8      Mumbai   38      NaN      yes        4  super_senior
9   Singapore   25  30000.0       no        3         young
10     Tokeyo   70  50000.0       no        2  super_senior
11  Singapore   33  49000.0       no        3        senior
12    Newyork   40  72000.0      yes        1  super_senior
13     Mumbai   31  79000.0      yes        4        senior
14  Singapore   37  85000.0       no        3  super_senior