# Handling Missing Values in Python pandas  #2

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\ASUS\\Downloads\\Fortune_10.csv")

In [3]:
df.isnull()

      ID   Data   Name  Industry  Inception  Revenue  Expenses  Profit  Growth
0  False  False  False     False      False    False     False   False   False
1  False  False  False     False      False    False     False   False   False
2  False  False  False     False      False    False     False   False   False
3  False  False  False     False      False    False     False   False   False
4  False  False  False     False      False    False     False   False    True
5  False  False  False      True      False    False     False   False   False
6  False  False  False      True      False    False     False   False   False
7  False  False  False     False      False    False     False   False   False
8  False  False  False     False      False    False      True   False   False
9  False  False  False     False      False    False     False   False   False

In [4]:
df.isnull().sum()

ID           0
Data         0
Name         0
Industry     2
Inception    0
Revenue      0
Expenses     1
Profit       0
Growth       1
dtype: int64

In [5]:
df.isnull().sum().sum()

4

In [6]:
df.notnull()

     ID  Data  Name  Industry  Inception  Revenue  Expenses  Profit  Growth
0  True  True  True      True       True     True      True    True    True
1  True  True  True      True       True     True      True    True    True
2  True  True  True      True       True     True      True    True    True
3  True  True  True      True       True     True      True    True    True
4  True  True  True      True       True     True      True    True   False
5  True  True  True     False       True     True      True    True    True
6  True  True  True     False       True     True      True    True    True
7  True  True  True      True       True     True      True    True    True
8  True  True  True      True       True     True     False    True    True
9  True  True  True      True       True     True      True    True    True

In [7]:
df.notnull().sum()

ID           10
Data         10
Name         10
Industry      8
Inception    10
Revenue      10
Expenses      9
Profit       10
Growth        9
dtype: int64

In [8]:
df.notnull().sum().sum()

86

In [12]:
#series
import numpy as np
sr=pd.Series([1,2,3,4,np.nan,np.NaN])
sr

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    NaN
dtype: float64

In [13]:
sr.isnull()

0    False
1    False
2    False
3    False
4     True
5     True
dtype: bool

In [14]:
sr.isnull().sum()

2