# Pandas Append() Function

In [1]:
import pandas as pd

In [2]:
df1=pd.DataFrame({'a':[1,2,3],
                 'b':[10,20,30]})

df2=pd.DataFrame({'a':[4,5,6],
                 'b':[40,50,60]})
display(df1,df2)

   a   b
0  1  10
1  2  20
2  3  30

   a   b
0  4  40
1  5  50
2  6  60

In [3]:
df1.append(df2)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_7460\3062608662.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2)

   a   b
0  1  10
1  2  20
2  3  30
0  4  40
1  5  50
2  6  60

In [4]:
df1.append(df2,ignore_index=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_7460\2717680053.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2,ignore_index=True)

   a   b
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50
5  6  60