# pandas series

In [41]:
import pandas as pd
import numpy as np

In [42]:
pd.__version__

'1.4.4'

In [43]:
list1=[1,2,3,4,5,'hello',True,'color']

In [44]:
print(list1)

[1, 2, 3, 4, 5, 'hello', True, 'color']

In [45]:
srs=pd.Series(list1)
print(srs)

0        1
1        2
2        3
3        4
4        5
5    hello
6     True
7    color
dtype: object

In [46]:
type(srs)

pandas.core.series.Series

In [47]:
series1=pd.Series([1,2,3,4])
series1

0    1
1    2
2    3
3    4
dtype: int64

In [48]:
type(series1)

pandas.core.series.Series

In [49]:
empty_series=pd.Series([])
print(empty_series)

Series([], dtype: float64)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_6008\4247181668.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_series=pd.Series([])

In [50]:
series2=pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=str,name='Data Values')
series2

a    1
b    2
c    3
d    4
Name: Data Values, dtype: object

In [51]:
scl_s=pd.Series(0.5)
scl_s

0    0.5
dtype: float64

In [52]:
scl_s=pd.Series(0.5,index=[1,2,3,4,5])
scl_s

1    0.5
2    0.5
3    0.5
4    0.5
5    0.5
dtype: float64

In [53]:
dict1=pd.Series({'a':1,'b':2,'c':3})
dict1

a    1
b    2
c    3
dtype: int64

In [54]:
s3=pd.Series([1,2,3,4,5,6,7],index=['a','b','c','d','e','f','g'])
s3

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

In [55]:
s3[4]

5

In [56]:
s3[6]

7

In [57]:
max(s3)

7

In [58]:
min(s3)

1

In [59]:
s3[s3<5]

a    1
b    2
c    3
d    4
dtype: int64

In [60]:
s4=pd.Series([1,2,3,4,5,6,7])
s4

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [61]:
np.add(s3,s4)

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
f   NaN
g   NaN
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
dtype: float64

In [62]:
s3+s4

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
f   NaN
g   NaN
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
dtype: float64

In [63]:
s5=pd.Series([1,2,3,4,5,6,7])
s5

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [64]:
s4+s5

0     2
1     4
2     6
3     8
4    10
5    12
6    14
dtype: int64

NameError: name 'add' is not defined