# Pandas GroupBy Function

In [34]:
import pandas as pd

In [35]:
df=pd.read_csv("C:\\Users\\ASUS\\Downloads\\student_result1.csv")
df

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60
3        1004       C     11          0                       1          45
4        1005       C     12          5                       2          75

In [36]:
gr1=df.groupby(by='Class')
gr1

In [37]:
gr1.groups

{10: [0, 1, 2], 11: [3], 12: [4]}

In [38]:
gr2=df.groupby(by='Section')
gr2

In [39]:
gr2.groups

{'A': [0, 2], 'B': [1], 'C': [3, 4]}

In [40]:
gr3=df.groupby(['Social Media usage hrs','Percentage']).groups
gr3

{(1, 45): [3], (2, 60): [2], (2, 75): [4], (2, 80): [1], (3, 50): [0]}

In [41]:
for section, df_1 in gr2:
    print(section)
    print(df_1)

A
   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
2        1003       A     10          3                       2          60
B
   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
1        1002       B     10          6                       2          80
C
   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
3        1004       C     11          0                       1          45
4        1005       C     12          5                       2          75

In [42]:
list(gr2)

[('A',
     Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
  0        1001       A     10          2                       3          50
  2        1003       A     10          3                       2          60),
 ('B',
     Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
  1        1002       B     10          6                       2          80),
 ('C',
     Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
  3        1004       C     11          0                       1          45
  4        1005       C     12          5                       2          75)]

In [43]:
dict(list(gr2))

{'A':    Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
 0        1001       A     10          2                       3          50
 2        1003       A     10          3                       2          60,
 'B':    Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
 1        1002       B     10          6                       2          80,
 'C':    Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
 3        1004       C     11          0                       1          45
 4        1005       C     12          5                       2          75}

In [59]:
gr4=df.groupby('Section').get_group('C')
gr4

In [ ]:
gr5=df.groupby('Class').get_group(10)
gr5

In [49]:
gr1=df.groupby(by='Class').groups
gr1

{10: [0, 1, 2], 11: [3], 12: [4]}

In [51]:
gr6=df.groupby('Class').get_group(10)
gr6

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60

In [53]:
gr6.sum()

Student ID                3006
Section                    ABA
Class                       30
Study hrs                   11
Social Media usage hrs       7
Percentage                 190
dtype: object

In [54]:
gr6.mean()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_7136\3182035070.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  gr6.mean()

Student ID                1002.000000
Class                       10.000000
Study hrs                    3.666667
Social Media usage hrs       2.333333
Percentage                  63.333333
dtype: float64

In [55]:
gr6.median()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_7136\3406146259.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  gr6.median()

Student ID                1002.0
Class                       10.0
Study hrs                    3.0
Social Media usage hrs       2.0
Percentage                  60.0
dtype: float64

In [57]:
gr6.describe()

       Student ID  Class  Study hrs  Social Media usage hrs  Percentage
count         3.0    3.0   3.000000                3.000000    3.000000
mean       1002.0   10.0   3.666667                2.333333   63.333333
std           1.0    0.0   2.081666                0.577350   15.275252
min        1001.0   10.0   2.000000                2.000000   50.000000
25%        1001.5   10.0   2.500000                2.000000   55.000000
50%        1002.0   10.0   3.000000                2.000000   60.000000
75%        1002.5   10.0   4.500000                2.500000   70.000000
max        1003.0   10.0   6.000000                3.000000   80.000000

In [60]:
gr2.agg(['max','mean','sum'])

        Student ID               Class           Study hrs           \
               max    mean   sum   max  mean sum       max mean sum
Section
A             1003  1002.0  2004    10  10.0  20         3  2.5   5
B             1002  1002.0  1002    10  10.0  10         6  6.0   6
C             1005  1004.5  2009    12  11.5  23         5  2.5   5

        Social Media usage hrs          Percentage
                           max mean sum        max  mean  sum
Section
A                            3  2.5   5         60  55.0  110
B                            2  2.0   2         80  80.0   80
C                            2  1.5   3         75  60.0  120

In [61]:
gr2.describe()

        Student ID                                                      \
             count    mean       std     min      25%     50%      75%
Section
A              2.0  1002.0  1.414214  1001.0  1001.50  1002.0  1002.50
B              1.0  1002.0       NaN  1002.0  1002.00  1002.0  1002.00
C              2.0  1004.5  0.707107  1004.0  1004.25  1004.5  1004.75

                Class        ... Social Media usage hrs      Percentage        \
            max count  mean  ...                    75%  max      count  mean
Section                      ...
A        1003.0   2.0  10.0  ...                   2.75  3.0        2.0  55.0
B        1002.0   1.0  10.0  ...                   2.00  2.0        1.0  80.0
C        1005.0   2.0  11.5  ...                   1.75  2.0        2.0  60.0


               std   min   25%   50%   75%   max
Section
A         7.071068  50.0  52.5  55.0  57.5  60.0
B              NaN  80.0  80.0  80.0  80.0  80.0
C        21.213203  45.0  52.5  60.0  67.5  75.0

[3 rows x 40 columns]