# python pandas dataframe

# Create pandas DataFrame

In [1]:
import pandas as pd

In [4]:
empt_variable=pd.DataFrame()
print(empt_variable)

Empty DataFrame
Columns: []
Index: []

In [5]:
lst=[1,2,3,4,54,5]
lst

[1, 2, 3, 4, 54, 5]

In [7]:
df1=pd.DataFrame(lst)
print(df1)

    0
0   1
1   2
2   3
3   4
4  54
5   5

In [8]:
df1

    0
0   1
1   2
2   3
3   4
4  54
5   5

In [9]:
ls_of_ls=[[1,2,3],[4,5,6],[7,8,9]]
ls_of_ls

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [10]:
pd.DataFrame(ls_of_ls)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [11]:
dict1={'a':1,'b':2,'c':3,'d':4}
dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [21]:
df2=pd.DataFrame(dict1,index=['ser'])
df2

     a  b  c  d
ser  1  2  3  4

In [16]:
dict2={"no":[1,2,3,4,5],'char':['a','b','c','d','e']}
dict2

{'no': [1, 2, 3, 4, 5], 'char': ['a', 'b', 'c', 'd', 'e']}

In [17]:
pd.DataFrame(dict2)

   no char
0   1    a
1   2    b
2   3    c
3   4    d
4   5    e

In [22]:
ls_dic=[{'a': 1, 'b': 2},{'c': 3, 'd': 4}]
ls_dic

[{'a': 1, 'b': 2}, {'c': 3, 'd': 4}]

In [26]:
df4=pd.DataFrame(ls_dic)
print(df4)

     a    b    c    d
0  1.0  2.0  NaN  NaN
1  NaN  NaN  3.0  4.0

In [27]:
ls_dict=[{'a': 1, 'b': 2},{'b': 3, 'c': 4}]
ls_dict

[{'a': 1, 'b': 2}, {'b': 3, 'c': 4}]

In [29]:
df5=pd.DataFrame(ls_dict)
print(df5)

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [30]:
ls_dict1=[{'a': 1, 'b': 2},{'a': 3, 'b': 4}]
ls_dict1

[{'a': 1, 'b': 2}, {'a': 3, 'b': 4}]

In [31]:
df6=pd.DataFrame(ls_dict1)
print(df6)

   a  b
0  1  2
1  3  4

In [ ]:
srs_in_dict={'id':pd.Series([1,2,3,4]),}